
@if (Session["User"] == null)
{
    <li class="user"><a href="@Url.Action("Login", "User")"><i class="far fa-user"></i></a></li>
}
else
{
    <li class="user"><a href="@Url.Action("LogOut","User")"><i class="fas fa-sign-out-alt"></i></a></li>
}

