USE [FOOT]
GO
/****** Object:  Table [dbo].[_SIZE]    Script Date: 5/14/2019 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_SIZE](
	[ID_SIZE] [int] IDENTITY(1,1) NOT NULL,
	[SIZE_NAME] [char](10) NULL,
 CONSTRAINT [PK__SIZE] PRIMARY KEY CLUSTERED 
(
	[ID_SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 5/14/2019 5:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID_BRAND] [int] IDENTITY(1,1) NOT NULL,
	[BRAND_NAME] [char](10) NULL,
 CONSTRAINT [PK_BRAND] PRIMARY KEY CLUSTERED 
(
	[ID_BRAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 5/14/2019 5:23:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR](
	[ID_COLOR] [int] IDENTITY(1,1) NOT NULL,
	[COLOR_NAME] [char](10) NULL,
 CONSTRAINT [PK_COLOR] PRIMARY KEY CLUSTERED 
(
	[ID_COLOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 5/14/2019 5:23:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID_CUSTOMER] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[PHONE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 5/14/2019 5:23:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[ID_ORDER] [int] IDENTITY(1,1) NOT NULL,
	[DATE_OD] [date] NULL,
	[ID_CUSTOMER] [int] NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[ID_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 5/14/2019 5:23:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[ID] [int] NOT NULL,
	[ID_ORDER] [int] NOT NULL,
	[NUMBER] [int] NULL,
	[PRICE] [money] NULL,
 CONSTRAINT [PK_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHORES]    Script Date: 5/14/2019 5:23:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](200) NULL,
	[IMG] [varchar](50) NULL,
	[SL] [int] NULL,
	[ID_SIZE] [int] NULL,
	[ID_COLOR] [int] NULL,
	[ID_BRAND] [int] NULL,
	[ID_TYPE] [int] NULL,
	[DESCRIPTIONS] [nvarchar](max) NULL,
	[PRICE] [decimal](5, 2) NULL,
	[UPDATE_DAY] [date] NULL,
 CONSTRAINT [PK_SHORES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 5/14/2019 5:23:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[ID_TYPE] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_NAME] [char](10) NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[_SIZE] ON 

INSERT [dbo].[_SIZE] ([ID_SIZE], [SIZE_NAME]) VALUES (1, N'7         ')
INSERT [dbo].[_SIZE] ([ID_SIZE], [SIZE_NAME]) VALUES (2, N'7.5       ')
INSERT [dbo].[_SIZE] ([ID_SIZE], [SIZE_NAME]) VALUES (3, N'8         ')
SET IDENTITY_INSERT [dbo].[_SIZE] OFF
SET IDENTITY_INSERT [dbo].[BRAND] ON 

INSERT [dbo].[BRAND] ([ID_BRAND], [BRAND_NAME]) VALUES (1, N'ADIDAS    ')
INSERT [dbo].[BRAND] ([ID_BRAND], [BRAND_NAME]) VALUES (2, N'NIKE      ')
INSERT [dbo].[BRAND] ([ID_BRAND], [BRAND_NAME]) VALUES (3, N'GUCCI     ')
SET IDENTITY_INSERT [dbo].[BRAND] OFF
SET IDENTITY_INSERT [dbo].[COLOR] ON 

INSERT [dbo].[COLOR] ([ID_COLOR], [COLOR_NAME]) VALUES (1, N'Black     ')
INSERT [dbo].[COLOR] ([ID_COLOR], [COLOR_NAME]) VALUES (2, N'White     ')
INSERT [dbo].[COLOR] ([ID_COLOR], [COLOR_NAME]) VALUES (3, N'Blue      ')
SET IDENTITY_INSERT [dbo].[COLOR] OFF
SET IDENTITY_INSERT [dbo].[SHORES] ON 

INSERT [dbo].[SHORES] ([ID], [NAME], [IMG], [SL], [ID_SIZE], [ID_COLOR], [ID_BRAND], [ID_TYPE], [DESCRIPTIONS], [PRICE], [UPDATE_DAY]) VALUES (1, N'Chuck Taylor All Star Madison   ', N'asm-w.jpg', 10, 1, 2, 4, 6, NULL, CAST(55.00 AS Decimal(5, 2)), CAST(N'2019-04-01' AS Date))
INSERT [dbo].[SHORES] ([ID], [NAME], [IMG], [SL], [ID_SIZE], [ID_COLOR], [ID_BRAND], [ID_TYPE], [DESCRIPTIONS], [PRICE], [UPDATE_DAY]) VALUES (2, N'Chuck Taylor All Star Madison', N'asm-black.jpg', 12, 2, 1, 4, 6, NULL, CAST(55.00 AS Decimal(5, 2)), CAST(N'2019-04-01' AS Date))
INSERT [dbo].[SHORES] ([ID], [NAME], [IMG], [SL], [ID_SIZE], [ID_COLOR], [ID_BRAND], [ID_TYPE], [DESCRIPTIONS], [PRICE], [UPDATE_DAY]) VALUES (3, N'Chuck Taylor All Star Madison', N'asm-red.jpg', 15, 4, 4, 4, 6, NULL, CAST(55.00 AS Decimal(5, 2)), CAST(N'2019-04-01' AS Date))
SET IDENTITY_INSERT [dbo].[SHORES] OFF
SET IDENTITY_INSERT [dbo].[TYPE] ON 

INSERT [dbo].[TYPE] ([ID_TYPE], [TYPE_NAME]) VALUES (1, N'Slip Ons  ')
INSERT [dbo].[TYPE] ([ID_TYPE], [TYPE_NAME]) VALUES (2, N'Boots     ')
INSERT [dbo].[TYPE] ([ID_TYPE], [TYPE_NAME]) VALUES (3, N'Sandals   ')
SET IDENTITY_INSERT [dbo].[TYPE] OFF
ALTER TABLE [dbo].[SHORES] ADD  DEFAULT (getdate()) FOR [UPDATE_DAY]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([ID_CUSTOMER])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_CUSTOMER]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_ORDER] FOREIGN KEY([ID_ORDER])
REFERENCES [dbo].[ORDER] ([ID_ORDER])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_ORDER]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_SHORES] FOREIGN KEY([ID])
REFERENCES [dbo].[SHORES] ([ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_SHORES]
GO
ALTER TABLE [dbo].[SHORES]  WITH CHECK ADD  CONSTRAINT [FK_SHORES__SIZE] FOREIGN KEY([ID_SIZE])
REFERENCES [dbo].[_SIZE] ([ID_SIZE])
GO
ALTER TABLE [dbo].[SHORES] CHECK CONSTRAINT [FK_SHORES__SIZE]
GO
ALTER TABLE [dbo].[SHORES]  WITH CHECK ADD  CONSTRAINT [FK_SHORES_BRAND] FOREIGN KEY([ID_BRAND])
REFERENCES [dbo].[BRAND] ([ID_BRAND])
GO
ALTER TABLE [dbo].[SHORES] CHECK CONSTRAINT [FK_SHORES_BRAND]
GO
ALTER TABLE [dbo].[SHORES]  WITH CHECK ADD  CONSTRAINT [FK_SHORES_COLOR] FOREIGN KEY([ID_COLOR])
REFERENCES [dbo].[COLOR] ([ID_COLOR])
GO
ALTER TABLE [dbo].[SHORES] CHECK CONSTRAINT [FK_SHORES_COLOR]
GO
ALTER TABLE [dbo].[SHORES]  WITH CHECK ADD  CONSTRAINT [FK_SHORES_TYPE] FOREIGN KEY([ID_TYPE])
REFERENCES [dbo].[TYPE] ([ID_TYPE])
GO
ALTER TABLE [dbo].[SHORES] CHECK CONSTRAINT [FK_SHORES_TYPE]
GO
